.userDetails{
  grid-area: c;
  background-color: #050809;
  padding-top: 50px;
  &_container{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 100px;
  }
}
.userAvatar{

  .userAvatarImg{
    width: 260px;
    height: 260px;
    border-radius: 50%;
  }

  &_name{
    color: white;
    margin-top: 25px;
    font-size: 24px;
  }
  &_login{
    margin-top: 10px;
    font-size: 20px;
    color: #c9d1d9;
    font-weight: 300;
  }
  &_bio{
    color: #c9d1d9;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.2em;
  }
  &_followers{
    display: flex;
    color: #c9d1d9;
    gap: 10px;
    margin-top: 15px;
    & svg{
      color: white;
    }
  }
  &_location{
    margin-top: 15px;
    color: #c9d1d9;
    & p{
      margin-bottom: 5px;
    }
  }
}
.userRepos{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  &_sort_block{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    margin-bottom: 20px;
    gap: 2%;
    &_btn{
      color: white;
      padding: 7px 12px;
      background-color: #238636;
      border: none;
      border-radius: 3px;
      width: max-content;
      &:hover{
        cursor: pointer;
        background-color: #2ca243;
        transition: 0.2s linear;
      }
    }
  }
}

.userDetailsCards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: span 2;
  grid-gap: 20px;
}
.bold_count{
  font-weight: bold;
}
.pages{
  margin: 20px 0;
  .page{
    border: 1px solid #c9d1d9;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    color: #c9d1d9;
    &:hover{
      cursor: pointer;
    }
  }
  .currentPage{
    border: 2px solid  #c9d1d9;
    font-weight: bold;
  }
}
@media (max-width: 1254px){
  .userDetails_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userAvatar{
    justify-content: center;
  }
}
@media (max-width: 566px){
  .userDetailsCards{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 2;
    grid-gap: 20px;
  }
}